In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('notebook1_session').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/17 19:10:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
actor_df = spark.read.csv('../lect_13/home_task/data/actor.csv', header=True, inferSchema=True)
film_actor_df = spark.read.csv('../lect_13/home_task/data/film_actor.csv', header=True, inferSchema=True)

In [5]:
actor_df.show(5)

+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2022-02-15 11:34:33|
|       2|      NICK|    WAHLBERG|2022-02-15 11:34:33|
|       3|        ED|       CHASE|2022-02-15 11:34:33|
|       4|  JENNIFER|       DAVIS|2022-02-15 11:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2022-02-15 11:34:33|
+--------+----------+------------+-------------------+
only showing top 5 rows

In [6]:
film_actor_df.show(5)

+--------+-------+-------------------+
|actor_id|film_id|        last_update|
+--------+-------+-------------------+
|       1|      1|2022-02-15 12:05:03|
|       1|     23|2022-02-15 12:05:03|
|       1|     25|2022-02-15 12:05:03|
|       1|    106|2022-02-15 12:05:03|
|       1|    140|2022-02-15 12:05:03|
+--------+-------+-------------------+
only showing top 5 rows

In [15]:
df_join = actor_df.join(film_actor_df, actor_df.actor_id==film_actor_df.actor_id, 'inner')

In [16]:
df_join.show(5)

+--------+----------+---------+-------------------+--------+-------+-------------------+
|actor_id|first_name|last_name|        last_update|actor_id|film_id|        last_update|
+--------+----------+---------+-------------------+--------+-------+-------------------+
|       1|  PENELOPE|  GUINESS|2022-02-15 11:34:33|       1|      1|2022-02-15 12:05:03|
|       1|  PENELOPE|  GUINESS|2022-02-15 11:34:33|       1|     23|2022-02-15 12:05:03|
|       1|  PENELOPE|  GUINESS|2022-02-15 11:34:33|       1|     25|2022-02-15 12:05:03|
|       1|  PENELOPE|  GUINESS|2022-02-15 11:34:33|       1|    106|2022-02-15 12:05:03|
|       1|  PENELOPE|  GUINESS|2022-02-15 11:34:33|       1|    140|2022-02-15 12:05:03|
+--------+----------+---------+-------------------+--------+-------+-------------------+
only showing top 5 rows

In [17]:
df_join.select('first_name', 'last_name').distinct().count()

199

In [18]:
df = spark.read.csv('./data/oscars.csv', inferSchema=True, header=True)

In [19]:
df.show(5)

+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|oscar_no|oscar_yr|       award|          name|               movie|age|     birth_pl|         birth_date|birth_mo|birth_d|birth_y|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|       1|    1929|Best actress|  Janet Gaynor|          7th Heaven| 22| Pennsylvania|1906-10-06 00:00:00|      10|      6|   1906|
|       2|    1930|Best actress| Mary Pickford|            Coquette| 37|       Canada|1892-04-08 00:00:00|       4|      8|   1892|
|       3|    1931|Best actress| Norma Shearer|        The Divorcee| 28|       Canada|1902-08-10 00:00:00|       8|     10|   1902|
|       4|    1932|Best actress|Marie Dressler|        Min and Bill| 63|       Canada|1868-11-09 00:00:00|      11|      9|   1868|
|       5|    1933|Best actress|   Helen Hayes|The Sin of Madelo...| 32|Washington DC|1900-10-10 00:00:00|      10|     10|   1900|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
only showing top 5 rows

In [22]:
df_actors = df.where("award == 'Best actor'")
df_actors.show(5)

+--------+--------+----------+----------------+--------------------+---+------------+-------------------+--------+-------+-------+
|oscar_no|oscar_yr|     award|            name|               movie|age|    birth_pl|         birth_date|birth_mo|birth_d|birth_y|
+--------+--------+----------+----------------+--------------------+---+------------+-------------------+--------+-------+-------+
|       1|    1929|Best actor|   Emil Jannings|The Way of All Fl...| 44| Switzerland|1884-07-23 00:00:00|       7|     23|   1884|
|       2|    1930|Best actor|   Warner Baxter|      In Old Arizona| 40|        Ohio|1889-03-29 00:00:00|       3|     29|   1889|
|       3|    1931|Best actor|   George Arliss|            Disraeli| 62|     England|1868-04-10 00:00:00|       4|     10|   1868|
|       4|    1932|Best actor|Lionel Barrymore|         A Free Soul| 53|Pennsylvania|1878-04-28 00:00:00|       4|     28|   1878|
|       5|    1933|Best actor|   Fredric March|Dr. Jekyll and Mr...| 35|   Wisconsin|1897-08-31 00:00:00|       8|     31|   1897|
+--------+--------+----------+----------------+--------------------+---+------------+-------------------+--------+-------+-------+
only showing top 5 rows

In [24]:
df_actress = df.where("award == 'Best actress'")
df_actress.show(5)

+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|oscar_no|oscar_yr|       award|          name|               movie|age|     birth_pl|         birth_date|birth_mo|birth_d|birth_y|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|       1|    1929|Best actress|  Janet Gaynor|          7th Heaven| 22| Pennsylvania|1906-10-06 00:00:00|      10|      6|   1906|
|       2|    1930|Best actress| Mary Pickford|            Coquette| 37|       Canada|1892-04-08 00:00:00|       4|      8|   1892|
|       3|    1931|Best actress| Norma Shearer|        The Divorcee| 28|       Canada|1902-08-10 00:00:00|       8|     10|   1902|
|       4|    1932|Best actress|Marie Dressler|        Min and Bill| 63|       Canada|1868-11-09 00:00:00|      11|      9|   1868|
|       5|    1933|Best actress|   Helen Hayes|The Sin of Madelo...| 32|Washington DC|1900-10-10 00:00:00|      10|     10|   1900|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
only showing top 5 rows

In [25]:
df_all_actors = df_actors.union(df_actress)

In [26]:
df_all_actors.count()

184

In [27]:
df_actors.count()

92

In [28]:
df_actress.count()

92