# Spark DataFrame API examples

In [2]:
from pyspark.sql import SparkSession, functions as f

In [3]:
spark = SparkSession.builder.config(

).appName('notebook3_session').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/17 16:42:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
actors_df = spark.read.csv(
    './data/oscars.csv',
    header=True,
    inferSchema=True,
)

In [10]:
actors_df.show()

+--------+--------+------------+-------------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|oscar_no|oscar_yr|       award|               name|               movie|age|     birth_pl|         birth_date|birth_mo|birth_d|birth_y|
+--------+--------+------------+-------------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|       1|    1929|Best actress|       Janet Gaynor|          7th Heaven| 22| Pennsylvania|1906-10-06 00:00:00|      10|      6|   1906|
|       2|    1930|Best actress|      Mary Pickford|            Coquette| 37|       Canada|1892-04-08 00:00:00|       4|      8|   1892|
|       3|    1931|Best actress|      Norma Shearer|        The Divorcee| 28|       Canada|1902-08-10 00:00:00|       8|     10|   1902|
|       4|    1932|Best actress|     Marie Dressler|        Min and Bill| 63|       Canada|1868-11-09 00:00:00|      11|      9|   1868|
|       5|    1933|Best actress|        Helen Hayes|The Sin of Madelo...| 32|Washington DC|1900-10-10 00:00:00|      10|     10|   1900|
|       6|    1934|Best actress|  Katharine Hepburn|       Morning Glory| 26|  Connecticut|1907-05-12 00:00:00|       5|     12|   1907|
|       7|    1935|Best actress|  Claudette Colbert|It Happened One N...| 31|       France|1903-09-13 00:00:00|       9|     13|   1903|
|       8|    1936|Best actress|        Bette Davis|           Dangerous| 27|Massachusetts|1908-04-05 00:00:00|       4|      5|   1908|
|       9|    1937|Best actress|       Luise Rainer|  The Great Zeigfeld| 26|      Germany|1910-01-12 00:00:00|       1|     12|   1910|
|      10|    1938|Best actress|       Luise Rainer|      The Good Earth| 27|      Germany|1910-01-12 00:00:00|       1|     12|   1910|
|      11|    1939|Best actress|        Bette Davis|             Jezebel| 30|Massachusetts|1908-04-05 00:00:00|       4|      5|   1908|
|      12|    1940|Best actress|       Vivien Leigh|  Gone With the Wind| 26|        India|1913-11-05 00:00:00|      11|      5|   1913|
|      13|    1941|Best actress|      Ginger Rogers|         Kitty Foyle| 29|     Missouri|1911-07-16 00:00:00|       7|     16|   1911|
|      14|    1942|Best actress|      Joan Fontaine|           Suspicion| 24|        Japan|1917-10-22 00:00:00|      10|     22|   1917|
|      15|    1943|Best actress|       Greer Garson|        Mrs. Miniver| 38|      England|1904-09-29 00:00:00|       9|     29|   1904|
|      16|    1944|Best actress|     Jennifer Jones|The Song of Berna...| 24|     Oklahoma|1919-03-02 00:00:00|       3|      2|   1919|
|      17|    1945|Best actress|     Ingrid Bergman|            Gaslight| 29|       Sweden|1915-08-29 00:00:00|       8|     29|   1915|
|      18|    1946|Best actress|      Joan Crawford|      Mildred Pierce| 33|        Texas|1912-03-23 00:00:00|       3|     23|   1912|
|      19|    1947|Best actress|Olivia de Havilland|     To Each His Own| 30|        Japan|1916-07-01 00:00:00|       7|      1|   1916|
|      20|    1948|Best actress|      Loretta Young|The Farmer's Daug...| 34|         Utah|1913-01-06 00:00:00|       1|      6|   1913|
+--------+--------+------------+-------------------+--------------------+---+-------------+-------------------+--------+-------+-------+
only showing top 20 rows

In [11]:
actors_df.printSchema()

root
 |-- oscar_no: integer (nullable = true)
 |-- oscar_yr: integer (nullable = true)
 |-- award: string (nullable = true)
 |-- name: string (nullable = true)
 |-- movie: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- birth_pl: string (nullable = true)
 |-- birth_date: timestamp (nullable = true)
 |-- birth_mo: integer (nullable = true)
 |-- birth_d: integer (nullable = true)
 |-- birth_y: integer (nullable = true)

In [13]:
actors_df.select('name', 'age', 'birth_mo', 'birth_d', 'birth_y').show()

+-------------------+---+--------+-------+-------+
|               name|age|birth_mo|birth_d|birth_y|
+-------------------+---+--------+-------+-------+
|       Janet Gaynor| 22|      10|      6|   1906|
|      Mary Pickford| 37|       4|      8|   1892|
|      Norma Shearer| 28|       8|     10|   1902|
|     Marie Dressler| 63|      11|      9|   1868|
|        Helen Hayes| 32|      10|     10|   1900|
|  Katharine Hepburn| 26|       5|     12|   1907|
|  Claudette Colbert| 31|       9|     13|   1903|
|        Bette Davis| 27|       4|      5|   1908|
|       Luise Rainer| 26|       1|     12|   1910|
|       Luise Rainer| 27|       1|     12|   1910|
|        Bette Davis| 30|       4|      5|   1908|
|       Vivien Leigh| 26|      11|      5|   1913|
|      Ginger Rogers| 29|       7|     16|   1911|
|      Joan Fontaine| 24|      10|     22|   1917|
|       Greer Garson| 38|       9|     29|   1904|
|     Jennifer Jones| 24|       3|      2|   1919|
|     Ingrid Bergman| 29|       8|     29|   1915|
|      Joan Crawford| 33|       3|     23|   1912|
|Olivia de Havilland| 30|       7|      1|   1916|
|      Loretta Young| 34|       1|      6|   1913|
+-------------------+---+--------+-------+-------+
only showing top 20 rows

In [15]:
actors_df.select('name', 'age', 'birth_mo', 'birth_d', 'birth_y').where("age >= 30").show()

+-------------------+---+--------+-------+-------+
|               name|age|birth_mo|birth_d|birth_y|
+-------------------+---+--------+-------+-------+
|      Mary Pickford| 37|       4|      8|   1892|
|     Marie Dressler| 63|      11|      9|   1868|
|        Helen Hayes| 32|      10|     10|   1900|
|  Claudette Colbert| 31|       9|     13|   1903|
|        Bette Davis| 30|       4|      5|   1908|
|       Greer Garson| 38|       9|     29|   1904|
|      Joan Crawford| 33|       3|     23|   1912|
|Olivia de Havilland| 30|       7|      1|   1916|
|      Loretta Young| 34|       1|      6|   1913|
|         Jane Wyman| 34|       1|      4|   1914|
|Olivia de Havilland| 33|       7|      1|   1916|
|       Vivien Leigh| 38|      11|      5|   1913|
|      Shirley Booth| 54|       8|     30|   1898|
|       Anna Magnani| 47|       3|      7|   1908|
|     Ingrid Bergman| 41|       8|     29|   1915|
|      Susan Hayward| 41|       6|     30|   1917|
|    Simone Signoret| 38|       3|     25|   1921|
|      Anne Bancroft| 31|       9|     17|   1931|
|      Patricia Neal| 37|       1|     20|   1926|
|   Elizabeth Taylor| 34|       2|     27|   1932|
+-------------------+---+--------+-------+-------+
only showing top 20 rows

In [16]:
actors_df.select('name', 'age', 'birth_mo', 'birth_d', 'birth_y').filter("age >= 30").show()

+-------------------+---+--------+-------+-------+
|               name|age|birth_mo|birth_d|birth_y|
+-------------------+---+--------+-------+-------+
|      Mary Pickford| 37|       4|      8|   1892|
|     Marie Dressler| 63|      11|      9|   1868|
|        Helen Hayes| 32|      10|     10|   1900|
|  Claudette Colbert| 31|       9|     13|   1903|
|        Bette Davis| 30|       4|      5|   1908|
|       Greer Garson| 38|       9|     29|   1904|
|      Joan Crawford| 33|       3|     23|   1912|
|Olivia de Havilland| 30|       7|      1|   1916|
|      Loretta Young| 34|       1|      6|   1913|
|         Jane Wyman| 34|       1|      4|   1914|
|Olivia de Havilland| 33|       7|      1|   1916|
|       Vivien Leigh| 38|      11|      5|   1913|
|      Shirley Booth| 54|       8|     30|   1898|
|       Anna Magnani| 47|       3|      7|   1908|
|     Ingrid Bergman| 41|       8|     29|   1915|
|      Susan Hayward| 41|       6|     30|   1917|
|    Simone Signoret| 38|       3|     25|   1921|
|      Anne Bancroft| 31|       9|     17|   1931|
|      Patricia Neal| 37|       1|     20|   1926|
|   Elizabeth Taylor| 34|       2|     27|   1932|
+-------------------+---+--------+-------+-------+
only showing top 20 rows

In [22]:
# select name, age, ...
actors_df.select(
    actors_df.name, actors_df['age'], f.col('birth_mo').alias('birth_month'), 'birth_d', 'birth_y'
).where("age >= 30").show()

+-------------------+---+-----------+-------+-------+
|               name|age|birth_month|birth_d|birth_y|
+-------------------+---+-----------+-------+-------+
|      Mary Pickford| 37|          4|      8|   1892|
|     Marie Dressler| 63|         11|      9|   1868|
|        Helen Hayes| 32|         10|     10|   1900|
|  Claudette Colbert| 31|          9|     13|   1903|
|        Bette Davis| 30|          4|      5|   1908|
|       Greer Garson| 38|          9|     29|   1904|
|      Joan Crawford| 33|          3|     23|   1912|
|Olivia de Havilland| 30|          7|      1|   1916|
|      Loretta Young| 34|          1|      6|   1913|
|         Jane Wyman| 34|          1|      4|   1914|
|Olivia de Havilland| 33|          7|      1|   1916|
|       Vivien Leigh| 38|         11|      5|   1913|
|      Shirley Booth| 54|          8|     30|   1898|
|       Anna Magnani| 47|          3|      7|   1908|
|     Ingrid Bergman| 41|          8|     29|   1915|
|      Susan Hayward| 41|          6|     30|   1917|
|    Simone Signoret| 38|          3|     25|   1921|
|      Anne Bancroft| 31|          9|     17|   1931|
|      Patricia Neal| 37|          1|     20|   1926|
|   Elizabeth Taylor| 34|          2|     27|   1932|
+-------------------+---+-----------+-------+-------+
only showing top 20 rows

In [24]:
actors_df.select('name', 'age', 'birth_mo', 'birth_d', 'birth_y').where(
    (actors_df.age >= 30) & (actors_df['age'] <= 50)
).show()

+-------------------+---+--------+-------+-------+
|               name|age|birth_mo|birth_d|birth_y|
+-------------------+---+--------+-------+-------+
|      Mary Pickford| 37|       4|      8|   1892|
|        Helen Hayes| 32|      10|     10|   1900|
|  Claudette Colbert| 31|       9|     13|   1903|
|        Bette Davis| 30|       4|      5|   1908|
|       Greer Garson| 38|       9|     29|   1904|
|      Joan Crawford| 33|       3|     23|   1912|
|Olivia de Havilland| 30|       7|      1|   1916|
|      Loretta Young| 34|       1|      6|   1913|
|         Jane Wyman| 34|       1|      4|   1914|
|Olivia de Havilland| 33|       7|      1|   1916|
|       Vivien Leigh| 38|      11|      5|   1913|
|       Anna Magnani| 47|       3|      7|   1908|
|     Ingrid Bergman| 41|       8|     29|   1915|
|      Susan Hayward| 41|       6|     30|   1917|
|    Simone Signoret| 38|       3|     25|   1921|
|      Anne Bancroft| 31|       9|     17|   1931|
|      Patricia Neal| 37|       1|     20|   1926|
|   Elizabeth Taylor| 34|       2|     27|   1932|
|       Maggie Smith| 35|      12|     28|   1934|
|     Glenda Jackson| 34|       5|      9|   1936|
+-------------------+---+--------+-------+-------+
only showing top 20 rows

In [27]:
actors_df.select('name', 'age', 'birth_mo', 'birth_d', 'birth_y').orderBy(f.desc('age')).show()

+-----------------+---+--------+-------+-------+
|             name|age|birth_mo|birth_d|birth_y|
+-----------------+---+--------+-------+-------+
|    Jessica Tandy| 80|       6|      7|   1909|
|      Henry Fonda| 76|       5|     16|   1905|
|Katharine Hepburn| 74|       5|     12|   1907|
|   Marie Dressler| 63|      11|      9|   1868|
|    George Arliss| 62|       4|     10|   1868|
|       John Wayne| 62|       5|     26|   1907|
|     Meryl Streep| 62|       6|     22|   1949|
|Katharine Hepburn| 61|       5|     12|   1907|
|   Geraldine Page| 61|      11|     22|   1924|
|      Paul Newman| 61|       1|     26|   1925|
|     Helen Mirren| 61|       7|     26|   1945|
|      Peter Finch| 60|       9|     28|   1916|
|   Jack Nicholson| 60|       4|     22|   1937|
|Katharine Hepburn| 60|       5|     12|   1907|
|     Jeff Bridges| 60|      12|      4|   1949|
|Frances McDormand| 60|       6|     23|   1957|
|      Gary Oldman| 59|       3|     21|   1958|
|    Ronald Colman| 56|       2|      9|   1891|
|     Rex Harrison| 56|       3|      5|   1908|
|       Art Carney| 56|      11|      4|   1918|
+-----------------+---+--------+-------+-------+
only showing top 20 rows

In [29]:
actors_df.select('name').distinct().show()

+-----------------+
|             name|
+-----------------+
|        Paul Muni|
|     Robert Donat|
| Laurence Olivier|
| Daniel Day-Lewis|
|       Emma Stone|
|   Ingrid Bergman|
|    Loretta Young|
| Elisabeth Taylor|
|Denzel Washington|
|Maximilian Schell|
|     Gene Hackman|
|     James Cagney|
|  Michael Douglas|
| Barbra Streisand|
|  Natalie Portman|
|  Louise Fletcher|
|    James Stewart|
|   Geraldine Page|
|  Ernest Borgnine|
|    Robert Duvall|
+-----------------+
only showing top 20 rows

In [30]:
actors_df.show(5)

+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|oscar_no|oscar_yr|       award|          name|               movie|age|     birth_pl|         birth_date|birth_mo|birth_d|birth_y|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|       1|    1929|Best actress|  Janet Gaynor|          7th Heaven| 22| Pennsylvania|1906-10-06 00:00:00|      10|      6|   1906|
|       2|    1930|Best actress| Mary Pickford|            Coquette| 37|       Canada|1892-04-08 00:00:00|       4|      8|   1892|
|       3|    1931|Best actress| Norma Shearer|        The Divorcee| 28|       Canada|1902-08-10 00:00:00|       8|     10|   1902|
|       4|    1932|Best actress|Marie Dressler|        Min and Bill| 63|       Canada|1868-11-09 00:00:00|      11|      9|   1868|
|       5|    1933|Best actress|   Helen Hayes|The Sin of Madelo...| 32|Washington DC|1900-10-10 00:00:00|      10|     10|   1900|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
only showing top 5 rows

In [32]:
actors_df.groupBy('award').count().show()

+------------+-----+
|       award|count|
+------------+-----+
|Best actress|   92|
|  Best actor|   92|
+------------+-----+

In [33]:
actors_df.groupBy('award').max('birth_y').show()

+------------+------------+
|       award|max(birth_y)|
+------------+------------+
|Best actress|        1990|
|  Best actor|        1982|
+------------+------------+

In [35]:
actors_df.groupBy('award').agg(
    f.min('birth_y').alias('min_birth_year'),
    f.max('birth_y').alias('max_birth_year'),
).show()

+------------+--------------+--------------+
|       award|min_birth_year|max_birth_year|
+------------+--------------+--------------+
|Best actress|          1868|          1990|
|  Best actor|          1868|          1982|
+------------+--------------+--------------+

In [36]:
actors_df.show(5)

+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|oscar_no|oscar_yr|       award|          name|               movie|age|     birth_pl|         birth_date|birth_mo|birth_d|birth_y|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
|       1|    1929|Best actress|  Janet Gaynor|          7th Heaven| 22| Pennsylvania|1906-10-06 00:00:00|      10|      6|   1906|
|       2|    1930|Best actress| Mary Pickford|            Coquette| 37|       Canada|1892-04-08 00:00:00|       4|      8|   1892|
|       3|    1931|Best actress| Norma Shearer|        The Divorcee| 28|       Canada|1902-08-10 00:00:00|       8|     10|   1902|
|       4|    1932|Best actress|Marie Dressler|        Min and Bill| 63|       Canada|1868-11-09 00:00:00|      11|      9|   1868|
|       5|    1933|Best actress|   Helen Hayes|The Sin of Madelo...| 32|Washington DC|1900-10-10 00:00:00|      10|     10|   1900|
+--------+--------+------------+--------------+--------------------+---+-------------+-------------------+--------+-------+-------+
only showing top 5 rows

In [41]:
actors_df.select(
    'name',
    f.concat('birth_y', f.lit('-'), 'birth_mo', f.lit('-'), 'birth_d').alias('birth_date'),
).show()

+-------------------+----------+
|               name|birth_date|
+-------------------+----------+
|       Janet Gaynor| 1906-10-6|
|      Mary Pickford|  1892-4-8|
|      Norma Shearer| 1902-8-10|
|     Marie Dressler| 1868-11-9|
|        Helen Hayes|1900-10-10|
|  Katharine Hepburn| 1907-5-12|
|  Claudette Colbert| 1903-9-13|
|        Bette Davis|  1908-4-5|
|       Luise Rainer| 1910-1-12|
|       Luise Rainer| 1910-1-12|
|        Bette Davis|  1908-4-5|
|       Vivien Leigh| 1913-11-5|
|      Ginger Rogers| 1911-7-16|
|      Joan Fontaine|1917-10-22|
|       Greer Garson| 1904-9-29|
|     Jennifer Jones|  1919-3-2|
|     Ingrid Bergman| 1915-8-29|
|      Joan Crawford| 1912-3-23|
|Olivia de Havilland|  1916-7-1|
|      Loretta Young|  1913-1-6|
+-------------------+----------+
only showing top 20 rows

In [45]:
actors_df.select('name', 'age').withColumn('age', f.col('age') + 100).show()

+-------------------+---+
|               name|age|
+-------------------+---+
|       Janet Gaynor|122|
|      Mary Pickford|137|
|      Norma Shearer|128|
|     Marie Dressler|163|
|        Helen Hayes|132|
|  Katharine Hepburn|126|
|  Claudette Colbert|131|
|        Bette Davis|127|
|       Luise Rainer|126|
|       Luise Rainer|127|
|        Bette Davis|130|
|       Vivien Leigh|126|
|      Ginger Rogers|129|
|      Joan Fontaine|124|
|       Greer Garson|138|
|     Jennifer Jones|124|
|     Ingrid Bergman|129|
|      Joan Crawford|133|
|Olivia de Havilland|130|
|      Loretta Young|134|
+-------------------+---+
only showing top 20 rows

In [47]:
def add_100(x: int) -> int:
    return x + 100

actors_df.select('name', 'age')\
    .withColumn(
    'age',
    add_100(f.col('age')),
).show()

+-------------------+---+
|               name|age|
+-------------------+---+
|       Janet Gaynor|122|
|      Mary Pickford|137|
|      Norma Shearer|128|
|     Marie Dressler|163|
|        Helen Hayes|132|
|  Katharine Hepburn|126|
|  Claudette Colbert|131|
|        Bette Davis|127|
|       Luise Rainer|126|
|       Luise Rainer|127|
|        Bette Davis|130|
|       Vivien Leigh|126|
|      Ginger Rogers|129|
|      Joan Fontaine|124|
|       Greer Garson|138|
|     Jennifer Jones|124|
|     Ingrid Bergman|129|
|      Joan Crawford|133|
|Olivia de Havilland|130|
|      Loretta Young|134|
+-------------------+---+
only showing top 20 rows

In [48]:
actors_df.count()

+-------------------+---+
|               name|age|
+-------------------+---+
|       Janet Gaynor| 22|
|      Mary Pickford| 37|
|      Norma Shearer| 28|
|     Marie Dressler| 63|
|        Helen Hayes| 32|
|  Katharine Hepburn| 26|
|  Claudette Colbert| 31|
|        Bette Davis| 27|
|       Luise Rainer| 26|
|       Luise Rainer| 27|
|        Bette Davis| 30|
|       Vivien Leigh| 26|
|      Ginger Rogers| 29|
|      Joan Fontaine| 24|
|       Greer Garson| 38|
|     Jennifer Jones| 24|
|     Ingrid Bergman| 29|
|      Joan Crawford| 33|
|Olivia de Havilland| 30|
|      Loretta Young| 34|
+-------------------+---+
only showing top 20 rows

In [5]:
# "having" expample
actors_df.where("oscar_yr >= 1990")\
    .groupBy('name').agg(f.count('name').alias('name_count'))\
    .where('name_count == 1').show()

+-----------------+----------+
|             name|name_count|
+-----------------+----------+
|       Emma Stone|         1|
|Denzel Washington|         1|
|  Natalie Portman|         1|
|     Helen Mirren|         1|
|     Jeff Bridges|         1|
|      Halle Berry|         1|
|  Roberto Benigni|         1|
|     Holly Hunter|         1|
|      Kathy Bates|         1|
|       Jamie Foxx|         1|
|        Al Pacino|         1|
|Jennifer Lawrence|         1|
|    Olivia Colman|         1|
|    Nicole Kidman|         1|
|    Jean Dujardin|         1|
|   Cate Blanchett|         1|
|     Jeremy Irons|         1|
|      Brie Larson|         1|
|   Susan Sarandon|         1|
|       Rami Malek|         1|
+-----------------+----------+
only showing top 20 rows