# Spark SQL API example

In [ ]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('notebook1_session').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/13 19:13:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Example 1

In [3]:
df = spark.read.csv('./data/oscars.csv', inferSchema=True, header=True)

In [4]:
df.createOrReplaceTempView("oscars_view")

In [7]:
spark.sql("""
select
    name,
    movie,
    oscar_yr
from oscars_view
order by oscar_yr
limit 5;
""").show()

+-------------+--------------------+--------+
|         name|               movie|oscar_yr|
+-------------+--------------------+--------+
| Janet Gaynor|          7th Heaven|    1929|
|Emil Jannings|The Way of All Fl...|    1929|
|Mary Pickford|            Coquette|    1930|
|Warner Baxter|      In Old Arizona|    1930|
|Norma Shearer|        The Divorcee|    1931|
+-------------+--------------------+--------+

## Example 2

In [11]:
spark.sql("""
select *
from csv.`./data/oscars.csv`
limit 5
""").show()

+--------+--------+------------+--------------+------------+---+------------+----------+--------+-------+-------+
|     _c0|     _c1|         _c2|           _c3|         _c4|_c5|         _c6|       _c7|     _c8|    _c9|   _c10|
+--------+--------+------------+--------------+------------+---+------------+----------+--------+-------+-------+
|oscar_no|oscar_yr|       award|          name|       movie|age|    birth_pl|birth_date|birth_mo|birth_d|birth_y|
|       1|    1929|Best actress|  Janet Gaynor|  7th Heaven| 22|Pennsylvania|1906-10-06|      10|      6|   1906|
|       2|    1930|Best actress| Mary Pickford|    Coquette| 37|      Canada|1892-04-08|       4|      8|   1892|
|       3|    1931|Best actress| Norma Shearer|The Divorcee| 28|      Canada|1902-08-10|       8|     10|   1902|
|       4|    1932|Best actress|Marie Dressler|Min and Bill| 63|      Canada|1868-11-09|      11|      9|   1868|
+--------+--------+------------+--------------+------------+---+------------+----------+--------+-------+-------+

In [ ]:
f